// Add your own custom styles here
body{
    background-image: url(/static-assets/bg-swoosh.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60rem;
}

header{
    background-color: transparent!important;
}

// disable mobile menu as there are no navitems
#show-button{
    display: none;
}