@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cabin - latin */
@font-face {
    font-family: Cabin;
    src: url("assets/fonts/Cabin/Cabin-VariableFont_wdth_wght.ttf") 
      format("truetype-variations");
      font-weight: 100 200 300 400 500 600 700 800 900 1000;
  }


  @layer base {
    p {

    }
  }